<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <title>count view</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 20px;
        }
        .video-feed {
            border: 2px solid #000;
            max-width: 100%;
            height: auto;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <h1>People Counter and Tracker</h1>
    {% include '_nav.html' %}
    <div id="count-output">Loading...</div>
    <img id="live-feed" class="video-feed" src="/video_feed" alt="Live feed">
    <script>
        async function fetchCountData() {
            try {
                const response = await fetch("/get_count_data");
                const data = await response.json();

                if (data.error) {
                    document.getElementById("count-output").innerText = "Error: Unable to fetch data.";
                } else {
                    document.getElementById("count-output").innerText = data.message;
                }
            } catch (error) {
                console.error("Error fetching count data:", error);
            }
        }

        // 주기적으로 서버에서 텍스트 데이터 가져오기
        setInterval(fetchCountData, 1000); // 1초마다 호출
    </script>
</body>
</html>